.CarForm {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.CarForm input {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.CarForm button {
    background: darkblue;
    color: #fff;
    border: 4px solid white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;

}
.CarForm span{
    color: red;
    font-size: 16px;
}