.createComment{
    width: 100%;
    padding: 10px 16px;
    border-bottom: 1px solid #fafafa;
}
.createComment h3 ,p{
    margin: 0;
}


.createComment:hover {
    box-shadow: 3px 6px 10px rgba(0,0,0,0.1);
}