.create {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.create button {
    border: none;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    margin: 5px;
}

.dark {
    background-color: darkgray;
}

.light {
    background-color: plum;
}

.dark button {
    background-color: purple;
    color: white;
}

.light button {
    background-color: pink;
    color: black;
}

.container {
    width: 93%;
    display: flex;
    flex-flow: wrap;

}

.container div{
    height: 80px;
    width: 15%;
    padding: 10px 16px;
    margin: 20px;
    border-bottom: 1px solid purple;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
}
.container div:hover{
    box-shadow: 2px 6px 10px purple;
}

.dark .container >div{
    background-color: plum;
}
.light .container >div{
    background-color: darkgray;
}

.create input{
    height: 40px;
    width: 200px;
    font-size: 16px;
    padding: 5px;
}
